<h1>Monsters#index</h1>
<p>Find me in app/views/monsters/index.html.erb</p>

<% @monsters.each do |monster| %>
    <br>
    <%= link_to monster_path(monster) do %>
    <ul>
      <%= monster.name %>
    </ul>
  <% end %>
<% end %>
