<body class="bodyhome">

<div class= "text-center">
  <img src="http://onepage.dropagence.fr/game/place/logo-mp.png" width="450px" class="logo"><br>
  <div class="text">
    <p>Grand tournois en vue ?<br>
    Envie de tester vos talents de stratèges ?<br>
    Besoin d'un monstre rapidement pour jouer avec vos amis ?<br>
    Monster Place est le service qu'il vous faut !</p>
  </div>
  <div class="button">
    <%= link_to "Connecter mon compte Battle Monster", monsters_path %>
    <div class="personnage1">
      <%# <img src="https://www.zupimages.net/up/22/34/txnl.png" > %>
    </div>
    <div class="personnage2">
      <%# <img src="https://www.zupimages.net/up/22/34/txnl.png" > %>
    </div>
  </div>
</body>
