<body id="home">
  <div class= "text-center">
    <%= image_tag('http://onepage.dropagence.fr/game/place/logo-mp.png', width:"450px") %><br>
    <div class="text">
      <p>Grand tournois en vue ?<br>
      Envie de tester vos talents de stratèges ?<br>
      Besoin d'un monstre rapidement pour jouer avec vos amis ?<br>
      Monster Place est le service qu'il vous faut !</p>
    </div>

    <div class="button">
    <% if user_signed_in? %>
      <%= link_to "Rechercher un battle monster", monsters_path  %>
    <% else %>
      <%= link_to "Connecter mon compte Battle Monster", monsters_path %>
    <% end %>
    </div>
</body>
