<div class= "text-center"><%= image_tag('http://onepage.dropagence.fr/game/logobm.png', width:"750px") %>

  <%= link_to "Faire une recherche de monstre", monsters_path, class: "btn btn-primary display-2" %>

</div>
