<h1>profil</h1>
<p><strong>name : </strong><%= @user.name %>
<p></p>
   <strong>email : </strong> <%= @user.email %></p>
   <p>Edit</p>

<img src= <%= @user.avatar %> alt="">

<h2><strong>Mes Contrats</strong></h2>



<h2><strong>Mes Monstres</strong></h2>
<p>Add</p>
<% if @user.monsters.first.nil? %>
<p>No monsters</p>
<% else %>
<% @user.monsters.each do |monster|%>
<p><%= monster.name %> </p>
<% end %>
<% end %>
